
<h1>Metric for device: {{id}}</h1>
 <div class="form-group">
    <div class="input-group file-upload">
        <input type="file" (change)="selectFile($event)" #input class="file-upload-btn"/>
        <input type="text" class="form-control" placeholder="Choose a file..." value="{{currentFileUpload?currentFileUpload.name:''}}">
        <i class="fa fa-times delete-file" (click)="removeFile()" *ngIf="currentFileUpload"></i>
        <span class="input-group-append">
            <button class="btn btn-primary" type="button"><i class="fa fa-upload"></i></button>
        </span>
    </div>
</div>
<div class="row">
<button class="btn btn-primary" [disabled]="!selectedFiles || admincheck || status" (click)="upload()">Process File</button>
<!--<button class="btn btn-primary" style="margin-left: 10px" (click)="downloadFile()">Download File</button>
-->
</div>

