<h2>Load Process</h2>

<div class="input-group mb-2">
    <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></span>
    <input class="form-control" type="text" placeholder="Type to filter the name column..." (keyup)="updateFilter($event)"/>
</div>

<ngx-datatable
    #table
    class="material"
    [headerHeight]="40"
    [limit]="10"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"

    [loadingIndicator]="loadingIndicator"
   >

   
   <ngx-datatable-column name="Device Name" prop="deviceName">
    <ng-template ngx-datatable-cell-template let-value="value">
      {{value}}
    </ng-template>
  </ngx-datatable-column>
    <ngx-datatable-column name="status">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="initDate" >
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value | date:'short':'IST'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="endDate" >
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value | date:'short':'IST'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Quantity" prop="metricQuantity">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value }}
      </ng-template>
    </ngx-datatable-column>


</ngx-datatable>   


